* {
  outline: 1px solid hsla(0, 0%, 0%, 0.2);
  box-sizing: border-box;
}

/* Links */

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

/* Elements */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
}

.brand {
  display: inline-block;
  padding: 0px 20px;
}

nav {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}
article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  width: 30%;
  display: flex;
  justify-content: space-between;
  display: inline-block;
}

/* button*/

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: 2px solid green;
  font-weight: bold;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: green;
  color: white;
}

.huge {

  background-color: red;
  float: right;
  width: 60%;

}
.stuff {
  width: 100%;
  clear: both;
  background-color: green;
}

.fit {
  padding: 5px;
  margin: 5px;
  width: 100%;
  height: auto;
}
.small {
  height: 120px;
  width: 120px;
  float: left;
  padding: 10px;
}
